:root{
    --color:#38d;
    --spacing:10px;
    --blur:10px
}
body{
    background-color: rgb(19, 11, 95);
    height: 100vh;
    width: 100%;}
h1{
    color: #ddd;
    text-align: center;
    font-size: 70px;
}
.main .variables{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 15px auto;
    color: #ddd;
    font-size: 26px;
}
.main .variables form input{
    margin-left: 5px;
    
}
.main .variables form input[type="range"]{
accent-color: #333;
height: 3px;
}

.image {
    width: 80%;
    margin: 10px auto;
}
.image img{
    max-width: 100%;
    padding: var(--spacing);
    background-color: var(--color);
    filter: blur(var(--blur));
}